body {
    margin: 0;
    padding: 0;
}

#carousel-container {
    /* border: 2px solid red; */
    height: 72vh;
    width: 80vw;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 7%;
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    overflow: hidden;
    border: 2px solid rgb(143, 65, 65);
    border-radius: 33px;
    display: flex;
    background-image: radial-gradient(rgb(212, 127, 127), rgb(120, 120, 202), rgb(116, 199, 116));
    /* transform: translateY(305px); */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    height: 305px;
    width: 62vw;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    /* position: absolute; */
    /* display: block; */
    /* border: 3px solid black; */
    border-radius: 33px;
    width: 170px;
    height: 287px;
    margin: 2px;
    margin: 11px;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(38, 110, 204), rgb(182, 66, 211), rgb(211, 65, 114));
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 800;
    font-size: 25px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 500;
    font-size: 18px;
}

.card-image {
    margin: auto;
    border: 2px solid rgb(197, 161, 161);
    border-radius: 33px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.carousel-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

#prev {
    left: 3vw;
    /* float: left; */
}

#next {
    right: 3vw;
    /* float: right; */
}